@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(#A66394,#7D41A6 , #3F0F40);
    }
    section#login{
        width: 90vw;
    }
    section#login > div#formulario{
        width: 65%;
        float: right;
    }
    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario > p {
        font-size: 1.3em;
      }
      section#login > div#formulario > h1 {
          font-size: 2.0em;
      }
    div.campo > input {
        width: 90%;
    }
    form > input[type=submit]{
        margin-top: 10%;
    }
  }

    

@media screen and (min-width: 992px) {
    body , html {
        
    }
    body{
        background-image: linear-gradient(#A66394,#7D41A6 , #3F0F40);
    }
    section#login {
        width: 992px;
    }
    section#login > div#img {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 45%;
    
    }
    section#login > div#formulario > p {
      font-size: 1.5em;
    }
    section#login > div#formulario > h1 {
        font-size: 2.5em;
    }
    div.campo > input {
        width: 89%;
    }
    form > input[type=submit]{
        margin-top: 10%;
    }

}