@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Press Start 2P',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../imgs/wall.png');

}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100vw;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 7px solid #ffff00;
    box-shadow: -5px 10px 20px black;
}
.menu-lives{
    display:flex;
    align-items: center;
    
}
.menu-score, .menu-time{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 110px;
    justify-content: space-around;
   
}
.painel{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);   
}
.square {
    height: 150px;
    border: 1px solid #000000;
    width: 150px;
    background-color: #7fffd4;
}
.enemy{
    background-image: url("../imgs/ralph.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}